<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>

<% if (!user) { %>
  <script defer src="https://accounts.google.com/gsi/client"></script>
<% } %>

  <main>
    <div class="dvd-animation">
      <h1><%= user ? user.profile.name + ', welcome!' : `` %>  
    </div>
  </h1>
  <% if (user?.profile.avatar) { %>
    <div class="dvd-animation-two">
      <img
      src="<%= user.profile.avatar %>"
      alt="<%= user.profile.name %> avatar"
      />
    </div>
    <% } else { %>
      <h1>Ressetti says sign in!</h1>
      <div 
        id="g_id_onload"
        data-client_id="<%= googleClientID %>"
        data-login_uri="/auth/google"
        data-auto_prompt="false"
        data-prompt_parent_id="g_id_onload"
      >
      </div>
      <div 
        class="g_id_signin right"
        data-type="standard"
        data-size="large"
        data-theme="outline"
        data-text="sign_in_with"
        data-shape="rectangular"
        data-logo_alignment="left"
      >
      </div>
    <div class="gif-containter">
      <img
      src="/images/restti.gif"
      alt="Resetti image"
      />
    </div>
    <% } %>
  </main>

<%- include('./partials/footer') %>
