<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<section>
  <h1>Suggestions</h1>
  <% if (user) { %>
    <h2>Add a Suggestion!</h2>
    <form action="/suggestions" method="POST">
      <label>
        Name: 
        <input type="text" name="name" autocomplete="off">
      </label>
      <label 
        for="myRange">Passive? or Aggressive?</label>
        <input type="range" min="1" max="100" value="50" class="slider" id="myRange" name="passive">
      </label>
      <button type="submit">Suggestion</button>
    </form>
  <% } %>
  <ul>
    <% suggestions.forEach(suggestion => { %>
      <li>
        <a href="/suggestions/<%= suggestion._id %>"><%= suggestion.name %></a> is <%= suggestion.passive ? 'passive' : 'aggressive' %></li>
    <% }) %>
  </ul>
</section>

<%- include('../partials/footer') %>