<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<section>
  <% if (user) { %>
    <div class="suggestion-form">
    <h2>Add a Suggestion!</h2>
				<form action="/suggestions" method="POST">
					<label>
						<textarea type="text" name="name" autocomplete="off" cols="30" rows="5">
            </textarea>
					</label>
					<button id="add-comment-btn" class="btn-97" type="submit">Suggestion 
          </button>
          <label>
            make suggestion passive
            <input type="checkbox" name="passive">
          </label>
        </form>
			</div>
        <% } %>
		<h1>Suggestions:</h1>
		<ul>
			<% suggestions.forEach(suggestion => { %>
				<div class="suggestion-list">
					<li id="list">
						<a href="/suggestions/<%= suggestion._id %>"><%= suggestion.name %>. This suggestion was made <%= suggestion.passive ? 'lovingly. 🥺' : 'aggressively. 😤' %>
            </a>
					</li>
				</div>
			<% }) %>
		</ul>
	</section>

	<%- include('../partials/footer') %>
