<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<section class="page-content">
	<div class="page-content-1st"><h1>Passive Suggestions:</h1></div>
	<ul class="page-content-2nd">
		<% suggestions.forEach(suggestion => { %>
			<li id="list">
				<% if (suggestion.passive) {  %>
					<a href="/suggestions/<%= suggestion._id %>"><%= suggestion.name %>.</a> This suggestion was made <%= suggestion.passive ? 'lovingly. 🥺' : 'aggressively. 😤' %>
			</li>
		<% }}) %>
	</ul>
</section>

<%- include('../partials/footer') %>
